<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="./../../assets/application/css/splash.css" />

<script type="text/javascript">
	var App = {};
</script>

<script src="./../../assets/jquery/jquery-1.11.3.min.js"></script>
<script src="./../../core/controllers/about.controller.js"></script>

<meta charset="UTF-8">
</head>

<body style="display: none">

<div align="center">

<h3>{{ i18n.about.title }}</h3>
<h4>{{ i18n.about.version }}</h4>
<p>{{ i18n.about.author }}</p>
<p>Copyright &copy; 2016 - <a href="http://jspare.org/jsdb">jspare.org</a></p>

</div>

</body>
</html>